<header>
	<a href="/" class="logo">apptracker</a>
	<ul>
		<li>
			<a href="#">
				<i class="bi bi-brightness-high-fill" id="toggleDark"></i>
			</a>
		</li>
		<li><a class="hvr-underline-from-center" href="/user/dashboard" style="color: black">Dashboard</a></li>
		<li><a class="hvr-underline-from-center" href="/user/calendar" style="color: black">Calendar</a></li>
		<li><a class="hvr-underline-from-center" href="/auth/logout" style="color: black">Sign Out</a></li>
		<li><a class="hvr-underline-from-center" href="/about" style="color: black">About</a></li>
	</ul>
</header>
