<header>
	<a href="/" class="logo">apptracker</a>
	<ul>
		<li>
			<a href="#">
				<i class="bi bi-brightness-high-fill" id="toggleDark"></i>
			</a>
		</li>
		<li><a class="hvr-underline-from-center" href="/auth/register" style="color: black">Register</a></li>
		<li><a class="hvr-underline-from-center" href="/auth/login" style="color: black">Log In</a></li>
		<li><a class="hvr-underline-from-center" href="/about" style="color: black">About</a></li>
	</ul>
</header>
