<header>
	<a href="/" class="logo">apptracker</a>
	<ul>
		<li>
			<a href="#">
				<i class="bi bi-brightness-high-fill" id="toggleDark"></i>
			</a>
		</li>
		<li><a href="/user/dashboard">Dashboard</a></li>
		<li><a href="/user/calendar">Calendar</a></li>
		<li><a href="/auth/logout">Sign Out</a></li>
		<li><a href="/about">About</a></li>
	</ul>
</header>
