<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header') %>

	<body>
		<%- include('partials/navbarTwo') %>
		<%- include('partials/flashMsg') %>

		<section class="banner"></section>
	</body>
</html>
