<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

	<body>
		<%- include('partials/navbarOne') %>
		<%- include('partials/flashMsg') %> 


		<h1 class='text-center my-5 pt-5'>Sign Up</h1>

		<div class='row justify-content-center'>
			<div class='col-md-6'>
				<form action='/auth/register' method='post'>
					<input class='form-control mb-2' name='username' placeholder='Username' type='text' />

					<input class='form-control mb-2' name='email' placeholder='Email' type='text' />

					<input class='form-control mb-2' name='password' placeholder='Password' type='password'/>

					<input class='form-control mb-2' name='repassword' placeholder='Re-password' type='password' />

					<button class='btn btn-primary w-100' type='submit'>
						Register user
					</button>
				</form>
			</div>
		</div>

	</body>

</html>